<ion-header>
  <ion-toolbar>
    <ion-title>Post {{ postId }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>{{ title }}</h3>

  <div *ngIf="comments$ | async as comments; else loading">

    <ion-list>
      <ion-item *ngFor="let c of comments">
        <ion-label class="ion-text-wrap">
          <h3><b>{{ c.email }}</b></h3> <p>{{ c.body }}</p>
        </ion-label>
      </ion-item>
    </ion-list>

    <ion-note class="ion-margin-top">
      Renderizados: {{ comments.length }} (Real, sin inflar)
    </ion-note>
  </div>

  <ng-template #loading>
    <div class="ion-text-center ion-padding">
      <ion-spinner></ion-spinner>
      <p>Cargando comentarios...</p>
    </div>
  </ng-template>

  <ion-button expand="block" class="ion-margin-top" (click)="back()">Volver</ion-button>
</ion-content>
