<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Social B (Buenas Prácticas)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [scrollY]="false">
  <ion-item>
    <ion-input
      placeholder="Buscar en posts..."
      [formControl]="searchControl">
    </ion-input>
  </ion-item>

  <cdk-virtual-scroll-viewport itemSize="80" style="height: 70vh; margin-top: 10px;">

    <ion-item
      *cdkVirtualFor="let p of filteredPosts$ | async; trackBy: trackById"
      (click)="openPost(p)"
      button> <ion-label class="ion-text-wrap">
        <h3><b>{{ p | prettyTitle }}</b></h3>
        <p>{{ p.body }}</p>
      </ion-label>
    </ion-item>

  </cdk-virtual-scroll-viewport>

  <div style="display:flex; gap: 10px; margin-top: 16px;">
    <ion-button expand="block" fill="outline" (click)="goSettings()">Métricas</ion-button>
  </div>

</ion-content>
